.clock-wrapper {
  //시계틀
  .clock-circle {
    position: relative;
    width: 500px;
    height: 450px;
    border: 5px solid red;
    //시간 숫자
    .hour-number {
      font-size: 30px;
      width: 20%;
      height: 500px;
      position: absolute;
      top: -30px;
      bottom: -30px;
      left: 200px;
      right: -30px;
      display: flex;
      justify-content: center;
      align-items: start;
    }
    &:hover {
      .tooltip {
        visibility: visible;
      }
    }
  }
}
