.clock-wrapper {
  //시계틀
  .clock-circle {
    position: relative;
    width: 500px;
    height: 500px;
    border: 5px solid red;
    //시간 숫자
    .hour-number {
      font-size: 50px;
      position: absolute;
      top: -30px;
      bottom: -30px;
      left: -30px;
      right: -30px;
      display: flex;
      justify-content: center;
      align-items: start;
    }
    //시, 분, 초침
    .clock-hand {
      position: absolute;
      top: 50%;
      left: 50%;
      transform-origin: 50% 70%;
    }
    &:hover {
      .tooltip {
        visibility: visible;
      }
    }
    .tooltip {
      visibility: hidden;
      width: 200px;
      color: black;
      z-index: 10;
      position: absolute;
    }
  }
}
